.no-marked {
  color: var(--primary);
  text-align: center;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 10em);
}

.marked {
  color: var(--primary);
  height: calc(100vh - 20em);
  padding: 0 4em;
}

.marked h1 {
  font-size: 2.2rem;
  text-align: center;
  margin: 2em 0 2em 0;
}

.marked-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2em;
}

.marked-container article {
  display: grid;
  justify-content: center;
  padding: 1em;
  transition: 0.5s;
}

.marked-container article:hover {
  outline: 1px solid var(--primary);
  border-radius: 5px;
}

.marked-container p {
  transition: all 0.05s ease-in-out;
  text-align: center;
  cursor: pointer;
}

.marked-container p:hover {
  color: var(--secondary);
}

.marked-container img {
  transition: 0.3s;
}

.marked-container img:hover {
  transform: scale(1.03);
}

.color-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  padding: 1em;
}

.color:hover {
  opacity: 0.8;
}
